@keyframes shine {
  0% {
    background-position: -200%;
  }
  100% {
    background-position: 200%;
  }
}

.shiny-text {
  background: linear-gradient(
    90deg,
    #f33ea7,
    #ff27db,
    #8154ff,
    #6831ff,
    #c739ff,
    #ff36ab
  );
  background-size: 200% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 3s linear infinite;
}
