@import "tailwindcss";

:root {
  --my-beizer: cubic-bezier(0.1, 0.8, 0.37, 0.99);

  font-family: "Mona Sans", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #0a0a0a;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
